altair                  
argon2-cffi                
argon2-cffi-bindings       
astor                   
astroid                 
atomicwrites            
attrs                  
backcall                
backports.zoneinfo        
base58                    
bleach                   
blinker                  
cachetools              
certifi                 
cffi                      
charset-normalizer          
click                
colorama               
cycler                 
debugpy                
decorator              
defusedxml             
entrypoints            
et-xmlfile             
fonttools              
gitdb                
GitPython            
idna                 
importlib-metadata     
importlib-resources    
ipykernel              
ipython                
ipython-genutils       
ipywidgets           
isort                
jcopml                      
jedi                      
Jinja2                  
joblib                   
jsonschema               
jupyter-client          
jupyter-core            
jupyterlab-pygments     
jupyterlab-widgets      
kiwisolver              
lazy-object-proxy       
lxml                    
MarkupSafe              
matplotlib              
matplotlib-inline     
mccabe                  
mistune                 
more-itertools          
mpl-finance             
multitasking              
nbclient                  
nbconvert               
nbformat              
nest-asyncio            
notebook              
numpy                 
openpyxl              
packaging             
pandas                
pandocfilters           
parso                 
patsy                     
pickleshare             
Pillow                  
pip                     
plotly                  
pluggy                  
prometheus-client       
prompt-toolkit        
protobuf                
py                      
pyaml                   
pyarrow                 
pycparser                 
pydeck                  
Pygments                
pylint                  
Pympler                 
pyparsing             
pyrsistent              
pytest                  
python-dateutil         
pytz                  
pytz-deprecation-shim   
pywin32                
pywinpty                
PyYAML                 
pyzmq                   
requests                
scikit-learn            
scikit-optimize         
scipy                 
seaborn                 
Send2Trash             
setuptools              
six                     
sklearn                
smmap                   
statsmodels             
streamlit               
TA-Lib                
tenacity                
terminado               
testpath                
threadpoolctl           
toml                    
toolz                   
tornado                
traitlets               
typed-ast               
typing_extensions       
tzdata                
tzlocal                 
urllib3               
validators              
watchdog              
wcwidth               
webencodings            
wheel                   
widgetsnbextension      
wincertstore            
wrapt                   
yfinance                
zipp                    
