jcopml                                    
matplotlib                            
numpy                 
openpyxl                           
pandas                             
Pillow                                       
plotly                                
PyYAML                                 
scikit-learn                            
seaborn                                     
sklearn                            
streamlit               
TA-Lib                
yfinance                                   
